<div class="container-fluid">

  <div class="row">
    <div class="col-md-4">
      <h3>Employee Details Entry Form</h3>
      
      <div class="outerDiv">
          <form #form="ngForm">

            <div class="row">
              <div class="col-md-4">
                <label>Name</label>
              </div>
              <div class="col-md-4">
                <input type="text" name="FirstName" required #fname="ngModel" [(ngModel)]="employeeObj.FirstName" class="form-control">
                <div *ngIf="fname.touched">
                  <span *ngIf="fname.errors?.['required']">Required</span>
                </div>
              </div>
              <div class="col-md-4">
                <input type="text" name="LastName" required #LastName="ngModel" [(ngModel)]="employeeObj.LastName" class="form-control">
                <div *ngIf="LastName.touched">
                  <span *ngIf="LastName.errors?.['required']">Required</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <label>Technology</label>
              </div>
              <div class="col-md-8">
                <input type="text" name="Technology" #Technology="ngModel" required [(ngModel)]="employeeObj.Technology" class="form-control">
                <div *ngIf="Technology.touched">
                  <span *ngIf="Technology.errors?.['required']">Required</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <label>Designation</label>
              </div>
              <div class="col-md-8">
                <input type="text" name="Designation" required #Designation="ngModel" [(ngModel)]="employeeObj.Designation" class="form-control">
                <div *ngIf="Designation.touched">
                  <span *ngIf="Designation.errors?.['required']">Required</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <label>Skills</label>
              </div>
              <div class="col-md-4">
                <select name="Skill" #Skill="ngModel" required [(ngModel)]="employeeObj.Skill" class="form-control">
                  <option>Select</option>
                  <option>Dot Net</option>
                  <option>Angular</option>
                  <option>React</option>
                </select>
                <div *ngIf="Skill.touched">
                  <span *ngIf="Skill.errors?.['required']">Required</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <label style="font-size: 14px">Core Expertise In</label>
              </div>
              <div class="col-md-8">
                <input type="text" name="Core" #Core="ngModel" required [(ngModel)]="employeeObj.Core" class="form-control">
                <div *ngIf="Core.touched">
                  <span *ngIf="Core.errors?.['required']">Required</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-5">
                <label>Certification If Any</label>
              </div>
              <div class="col-md-7">
                <input type="radio" value="Yes" name="IsCertification" [(ngModel)]="employeeObj.IsCertification" > Yes
                <input type="radio" value="No" name="IsCertification" [(ngModel)]="employeeObj.IsCertification"> No
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                
              </div>
              <div class="col-md-8">
                <input type="text" name="Certification" #Certification="ngModel" required [(ngModel)]="employeeObj.Certification" class="form-control">
                <div *ngIf="Certification.touched">
                  <span *ngIf="Certification.errors?.['required']">Required</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <label for="name">Company</label>
              </div>
              <div class="col-md-8">
                <input type="text" name="Company" #Company="ngModel" required [(ngModel)]="employeeObj.Company" class="form-control">
                <div *ngIf="Company.touched">
                  <span *ngIf="Company.errors?.['required']">Required</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label>Few Lines About Yourself</label>
                <textarea rows="3" name="FewDetails" required [(ngModel)]="employeeObj.FewDetails" class="form-control"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
              </div>
              <div class="col-md-6 text-end">
                <button class="btn btn-secondary btn-sm">Cancel</button>
                <button class="btn btn-secondary btn-sm mx-4" style="margin-left: 5px;" [disabled]="form.invalid" *ngIf="!isedit" (click)="onSave()">Save</button>
                <button class="btn btn-secondary btn-sm mx-4" style="margin-left: 5px;" [disabled]="form.invalid" *ngIf="isedit" (click)="onUpdate(employeeObj)">Update</button>
              </div>
            </div>

          </form>
        </div>
    </div>

    <div class="col-md-8">
      <h3>Employee List</h3>
      <div class="outerDiv">
        
        <div class="row">
          <div class="col-md-6">
  
          </div>
          <div class="col-md-3">
            <select [(ngModel)]="sortBy" class="form-control">
              <option>Select</option>
              <option>Dot Net</option>
              <option>Angular</option>
              <option>React</option>
            </select>
          </div>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="searchText" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sr</th>
                  <th>Name</th>
                  <th>Technology</th>
                  <th>Designation</th>
                  <th>Skill</th>
                  <th>Core Expertise</th>
                  <th>Company</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="employeeArr.length !=0">
                  <tr *ngFor="let item of employeeArr; let sr = index">
                    <td>{{sr+1}}</td>
                    <td>{{item.FirstName}} {{item.LastName}}</td>
                    <td>{{item.Technology}}</td>
                    <td>{{item.Designation}}</td>
                    <td>{{item.Skill}}</td>
                    <td>{{item.Core}}</td>
                    <td>{{item.Company}}</td>
                    <td>
                      <i class="fa fa-pencil-square" (click)="onEdit(item)" aria-hidden="true"></i>
                      <i class="fa fa-trash" (click)="onDelete(item)" aria-hidden="true"></i>
                    </td>
                  </tr>
                </ng-container>

                <ng-container *ngIf="employeeArr.length == 0">
                    <tr>
                      <td colspan="8" class="text-center">No Record Present</td>
                    </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      
    </div>
  </div>

</div>